@import "tailwindcss";

@theme {
  --color-background: #050505;
  --color-primary: #ff2a5f;
  --color-secondary: #00ff9d;

  --font-sans: "Inter", sans-serif;
  --font-mono: "JetBrains Mono", monospace;
}

body {
  background-color: var(--color-background);
  color: #ffffff;
}
